* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

header {
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #2d2e3a;
}

header a {
  color: white;
  opacity: 0.8;
  text-decoration: none;
  cursor: pointer;
  padding: 0 30px;
  font-weight: 600;
}

header a:hover {
  transform: scale(1.1);
  transition: 0.5s;
  color: #00a3ac;
}
.hero {
background-image: url(background-img.jpg);
background-size: cover;
height: 100vh;
color: white;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
}

.hero a {
  background-color: #2d2e3a;
  color: white;
  opacity: 0.8;
  text-decoration: none;
  cursor: pointer;
  padding: 15px;
  border-radius: 5px;
  font-weight: 600;
}

.hero a:hover {
  transform: scale(1.1);
  transition: 0.5s;
  color: #00a3ac;
}

.hero h1 {
  background-color: #2d2e3a;
  font-weight: 300;
  opacity: 0.8;
  padding: 15px;
  border-radius: 5px;
  margin: 10px;
}

.conteiner-1 {
  background-color: #eeeeee;
  color:#454758;
  display: flex;
  align-items:flex-start;
  justify-content: space-around;
  padding: 20px;
  margin-top: 0;

}

.conteiner-1 h2 {
color: #2d2e3a;
}

ul li {
  list-style: none;
}


.project a {
  text-decoration: none;
  color: #2d2e3a;
}

.project a:hover {
  text-decoration: none;
  color: #2d2e3a;
  transform: scale(1.1);
  transition: 0.5s;

}

.item-conteiner {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.conteiner-2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 15px;
  margin-top: 0;
  background-color:  #454758;
  color: white;
  border-radius: 5px; 
}

#picture {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  padding: 5px;
  margin-left: 5px;
}

.conteiner-2 #sobre {
  padding: 5px;
  margin-left: 20px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-around;
  background-color:#2d2e3a;
  color: white;
  font-family: 'Roboto', sans-serif;
}

footer h2 {
  padding: 10px;
  background-color:#2d2e3a;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 20pt;
}

footer h3 {
  width: 100%;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-align: center;
}

footer a {
  background-color: #2d2e3a;
  color: white;
  font-size: 16px;
  opacity: 0.8;
  text-decoration: none;
  cursor: pointer;
  padding: 15px;
  font-weight: 600;
}

footer a:hover {
  transform: scale(1.1);
  transition: 0.5s;
  color: #00a3ac;
}